<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body>
<!--navabr begins-->
<nav class = "navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="{% url 'index' %}">DJANGO</a></li>
            <!--<li><a class="navbar-link" href="{% url 'admin:index' %}">ADMIN</a></li>-->

            <!--<li><a class="navbar-brand" href="{% url 'kreiva:register' %}">REGISTER</a></li>-->
            {% if user.is_authenticated %}
                <li><a class="navbar-brand" href="{% url 'logout'%}">LOGOUT</a></li>
                <li><a class="navbar-brand" href="{% url 'kreiva:dashboard' %}">MY DASHBOARD</a></li>
            {% else %}
                <li><a class="navbar-brand" href="{% url 'kreiva:user_login' %}">LOGIN</a></li>
            {% endif %}


        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <img width='100px' height='100px' src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
        </div>
        <div class="col-md-9">
            <h2>Welcome to the Dashboard,{{user.username}}</h2>
        </div>

        </div>
        <!--<h2>{{user.username}}</h2>-->
    <h3>Event details:</h3>

<ol>
    {% for eve in events %}


    <!--<p>Name:{{eve.user}}</p>-->
    <li><p> {{ eve.event}}</p></li>

    {% endfor %}
</ol>

    </div>
<br>
<br>
<h2>Recommended Events:</h2>
    <!--{% for i in takenpart %}-->
    <!--{% for eve in events %}-->
    <!--{% if i not in eve.events %}-->
       <!--<p>{{i}}</p>-->
    <!--{% endif %}-->
    <!--{% endfor%}-->
    <!--{% endfor%}-->

{{taken_part}}

</body>
</html>






















